@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: roboto mono ,'san-serif';
}

body{
    background-color: #54B0F7;
    width: 100vw;
    height: 90vh;
    margin-top: 20px;
    position: relative;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 1;
}

.imagem{
    background-image: url("/img/forca6.png");
    background-repeat: no-repeat;
    width: 234px;
    height: 272px;
}

.palavra-secreta{
    font-size: 1.4em;
    display: flex;
    min-height: 50px;
    align-items: flex-end;
}

.letra{
    width: 20px;
    padding: 2px;
    border: none;
    border-bottom: 2px solid brown;
    margin: 0.2em;
    color: brown;
    text-shadow: 1px 1px 3px white;
    text-align: center;
}

.teclado{
    margin: 5px;
}
.teclas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    min-width: 360px;  
    padding: 5px;
}

.teclas button{
    flex-basis: 45px;
    height: 40px;
    flex-shrink:1;
    flex-grow:1;
    margin: 2px;
    border: none;
    border-radius: 3px;
    background-color: gray;
    color: aliceblue;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 2px darkblue;
    transition: 150ms ease-in-out;
}

.teclas .apertada{
    background-color: crimson;
}

#novo-jogo{
    flex-grow:1;
    overflow: hidden;
    font-size: 30px;
}

.dicas{
   text-align: center;
   padding: 10px;
   font-size: 23px;
   font-weight: 400;
}

.mensagem-gameover{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 90vw;
    height: 20vh;
    top: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    border: none;
    filter: drop-shadow(10px -10px 6px black);
    opacity: 89%;
    visibility: hidden;
}

.mensagem-gameover hr{
    width: 80vw;
    border: 1px solid grey;
}

.mensagem-gameover span{
    font-size: 20px;
    margin: 10px;
    font-weight: 500;
}

.mensagem-gameover button{
    position: absolute;
    left: 90%;
    bottom: 75%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: crimson;
    font-size: 20px;
    color: aliceblue;
    box-shadow: 1px 1px 2px grey;
    border-radius: 3px;
}

.mensagem-gameover button:hover{
    background-color: rgb(185, 14, 48);
    transition: 100ms ease-in;
    transform: scale(110%);
}

.fim-de-jogo{
    visibility: visible;
}

.teclas button:hover{
    transition: 150ms ease-in-out;
    transform: scale(110%);
}

.teclas .apertada:hover{
    transform: none;   
}


@media (min-width: 408px){
    .teclas{
        width: 400px;
    }
    .botoes{
        flex-basis: 45px;
    }
}

@media (min-width: 768px) {

    .palavra-secreta{
        font-size: 2em;
    }

    .letra{
        width: 30px;
    }

    .teclas{
        width: 760px ;
        justify-content: space-around;
    }
    .botoes{
        flex-basis: 69px;
        height: 60px;
        margin: 3px;
        flex-grow: 0;
    }
}

